@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  line-height: 19px;
}

.header {
  &__inner {
    padding: 34px 93px 27px 83px;
    display: flex;
    justify-content: center;
  }
  &__search {
    display: flex;
  }
  &__icon {
    padding: 3px 0 3px;
  }
  &__input {
    padding: 3px 10px 2px;
    border: none;
    color: #718096;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 106px;
    cursor: pointer;
  }
  &__icon {
    padding: 3px 0 3px;
  }
  &__icon+.header__input {
    margin-left: 12px;
  }
}

.logo {
  margin-top: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  cursor: pointer;
}

.menu {
  display: flex;
  margin-left: 267px;
  &__list {
    padding: 3px 0 2px;
    display: flex;
    position: relative;
    margin-left: 186px;
  }
  &__link {
    color: inherit;
  }
  &__item+.menu__item {
    margin-left: 30px;
  }
  &__list+.social-media {
    margin-left: 30px;
  }
}

.social-media {
  padding: 3px 0 3px;
  display: flex;
  &-link {
    cursor: pointer;
  }
  &-link+.social-media-link {
    margin-left: 35px;
  }
}

.footer {
  border-top: 1px solid #E8E8E8;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    padding-left: 160px;
    padding-right: 154px;
  }
  &__text {
    font-size: 16px;
    line-height: 19px;
  }
}

.head-section {
  &__inner {
    display: flex;
    justify-content: center;
    background: #FBFBFB;
  }
  &__column {
    flex-basis: auto;
    max-height: 467px;
  }
  &__title {
    padding: 131px 0 0 127px;
    margin: 0 0 19px 0;
    width: 500px;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    position: relative;
  }
  &__title::after {
    content: "";
    background-image: url(../images/coffee.png);
    width: 90px;
    height: 90px;
    top: 192px;
    position: absolute;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
    padding: 0 0 0 127px;
    margin: 0 0 135px 0;
  }
  &__img {
    padding: 70px 93px 74px 102px;
  }
}

.info {
  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 72px 50px 0px;
  }
  &__card-panel {
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
    margin-bottom: 43px;
  }
  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 33px;
    width: 100%;
  }
  &__card-column-text {
    padding: 18px 24px 24px 16px;
  }
  &__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3748;
    margin: 0;
  }
  &__card-text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
  }
  &__card-down {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
  }
  &__card-data {
    font-size: 12px;
    line-height: 15px;
    color: #718096;
  }
  &__card-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
  }
}

.card-next {
  margin-left: 33px;
}

.card-latest {
  display: flex;
  flex-direction: row;
  width: 966px;
  height: 243px;
  flex-basis: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
  & img {
    max-width: 434px;
  }
  & .info__card-column-text {
    padding: 41px 77px 43px 53px;
  }
  & .info__card-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 27px;
  }
  & .info__card-down {
    margin-top: 30px;
  }
}

.highlight {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 93px;
    padding-right: 93px;
  }
  &__topic {
    display: flex;
    justify-content: center;
  }
  &__topic-column-text {
    padding: 98px 69px 118px 63px;
    background-color: #F7FAFC;
  }
  &__topic-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 308px;
    margin-top: 0;
    margin-bottom: 24px;
  }
  &__topic-text {
    color: #718096;
    width: 311px;
    margin-bottom: 31px;
  }
  &__topic-down {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
  }
  &__topic-data {
    color: #4A5568;
  }
  &__topic-link {
    font-weight: 700;
    color: inherit;
  }
  &__btn {
    position: relative;
    align-self: flex-end;
    margin-top: 31px;
    margin-bottom: 43px;
    width: 122px;
    height: 37px;
    background: #6B46C1;
    border-radius: 5px;
    border: 0px solid #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 9px 33px 9px 11px;
    cursor: pointer;
  }
  &__btn::after {
    content: "";
    background-image: url(../images/button-1.svg);
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 9px;
    background-repeat: no-repeat;
  }
}

/* page article-single */

.article {
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__img-back {
    align-self: center;
    width: 973px;
    height: 380px;
    background: url(../images/image-article-1.png) no-repeat;
    background-size: 99%;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    margin-top: 41px;
    margin-bottom: 19px;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #2D3748;
  }
  &__info {
    padding: 0px 195px 58px 192px;
  }
  &__up {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__author {
    width: 203px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2D3748;
    margin: 0;
  }
  &__data {
    font-size: 18px;
    line-height: 22px;
    color: #718096;
  }
  &__title-text {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &__text {
    color: #718096;
  }
  &__text.text-start {
    border-top: 1px solid #E8E7E7;
    padding-top: 37px;
  }
  &__text+.article__text {
    margin-top: 20px;
  }
}

@import 'media';